<div style="background-color: #F2F2F2; border: 1px solid #DDD; border-radius: 5px; padding: 10px; text-align: center;">
    <h3 style="color: #333;">Carrito vaciado</h3>
    <p style="color: #666;">El contenido de tu carrito ha sido eliminado.</p>
</div>
<script>
    function redireccionar(pagina) {
        location.href = pagina;
    }
    function volver() {
        setTimeout(() => redireccionar('/login/adminproductos'), 1000);
    }
    volver();
</script>