<style>
  .cart-container {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  font-family: Arial, sans-serif;
  font-size: 16px;
  color: #333;
}

.cart-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.cart-table th,
.cart-table td {
  border: 1px solid black;
  padding: 10px;
}

.cart-table th {
  background-color: #cccccc;
  text-align: center;
}

.cart-table td {
  text-align: left;
}
</style>

<div class="cart-container">
  <table class="cart-table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{cartProduct.title}}</td>
        <td>{{cartProduct.price}}</td>
        
      </tr>
      <form method="POST" action="/buyProducts">
            <input type="hidden" name="productId" value="{{cartProduct.productId}}">
            <button type="submit">Comprar</button>
          </form>
    </tbody>
  </table>
</div>
